body {
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    margin-bottom: 80px;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 45px;
}

.top-banner-section {
    background-image: url("images/banner-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 600px;

}

.top-banner-section h1 {
    color: white;
    margin: 0;
    padding: 0;
}

.top-banner-section p {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: white;
}

.common-button {
    color: wheat;
    font-size: 20px;
    padding: 16px;
    text-decoration: none;
    background-color: #FF5959;
    border-radius: 5px;

}

.pay-amount {
    display: inline-block;
    padding: 30px;
    background-color: #FAFAFA;
    border-radius: 5px;
    margin: 20px;
}

.donate-today-section {
    text-align: center;
}

.selected-amount {
    display: inline-block;
    padding: 30px;
    background-color: #FFEEEE;
    border-radius: 5px;
    margin: 20px;
    border: 2px solid #FF5959;
}

.other-amount-field {
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 40px;
    text-align: center;
}

.donate-plan-section-heading {
    text-align: center;
}

.our-donate-plans {
    display: flex;
}

.our-donate-plan {
    margin: 24px;
    padding: 23px;
    width: 360px;
    height: 352px;
    border-radius: 5px;
}

.donate-plan-heading {
    font-size: 24px;
}

#food-for-family {
    background: rgba(79, 157, 166, 0.1);
}

#shelter-for-a-family {
    background: rgba(255, 89, 89, 0.1);
}

#Education-for-a-child {
    background-color: beige;
}

.why-donately {
    text-align: center;
}