body {
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 65px;
}

.top-banner-section {
    background-image: url("images/banner-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 600px;

}

.top-banner-section h1 {
    color: white;
    margin: 0;
    padding: 0;
}

.top-banner-section p {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: white;
}

.common-button {
    color: wheat;
    font-size: 20px;
    padding: 16px;
    text-decoration: none;
    background-color: #FF5959;
    border-radius: 5px;

}

.pay-amount {
    display: inline-block;
    padding: 30px;
    background-color: #FAFAFA;
    border-radius: 5px;
    margin: 20px;
}

.donate-today-section {
    text-align: center;
}

.selected-amount {
    display: inline-block;
    padding: 30px;
    background-color: #FFEEEE;
    border-radius: 5px;
    margin: 20px;
    border: 2px solid #FF5959;
}

.other-amount-field {
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 40px;
    text-align: center;
}